  .navbar {
        background-color: rgb(1, 126, 163);
        /* set blue background */
    }

    .navbar .nav>li>a {
        color: #fff;
        /* set white text */
    }

    .navbar .nav>li>a:hover {
        color: lightblue;
    }

    .container img{
        margin: 20px;
        height: 200px; 
        width: 200px;

    }
   /* Style the tab */
        .tab {
          float: left;
          border: 1px solid #ccc;
          background-color: #8ab5ee;
          width: 30%;
          height: 800px;
        }

        /* Style the buttons inside the tab */
        .tab button {
          display: block;
          background-color: inherit;
          color: black;
          padding: 22px 16px;
          width: 100%;
          border: none;
          outline: none;
          text-align: left;
          cursor: pointer;
          transition: 0.3s;
          font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #101ccc;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
          background-color: #ffffff;
        }

        /* Style the tab content */
        .tabcontent {
          float: left;
          padding: 0px 12px;
          border: 1px solid #ccc;
          width: 70%;
          border-left: none;
          height: 800px;
        }
        .text-center{
          text-align: center;
          justify-content: center;
          align-items: center;
        }
        .banner {
          text-align: center;
          width: 100%;
          height: 300px;
          background-color: #101ccc;
          background-attachment: fixed;
        }
        .banner img {
          text-align: center;
          width: 100%;
          height: 100%;
        }
.image-slider{
    width: 100%;
    height: 300px;
    
}
    .model-body{
width: 400px;
height: 400px;
    }

    @media (max-width:800px) {
        .container image{
            width: 100%;
            height: fit-content;
            text-align: center;
            .col-md-2{
                width: fit-content;
                height: fit-content;
            }
        }
    }