 * {
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
             background-color: white !important;
        }

        .navbar {
            background-color: rgb(1, 126, 163);
            /* set blue background */
        }

        .navbar .nav>li>a {
            color: #fff;
            /* set white text */
        }

        .navbar .nav>li>a:hover {
            color: lightblue;
        }
          #exTab1 .nav-pills>li>a {
                border-radius: 0;
            }

            #exTab1 .nav-pills li a:hover {
                background-color: rgb(0, 102, 255);
                color: white;
            }

            #exTab1 .nav-pills li ::after {
                color: white;
            }

            p {
                color: black;
                text-align: justify;
            }

           