  * {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin-top: .1vw;
            background-color: #dad7d7;
        }

        .navbar {
            background-color: rgb(1, 126, 163);
            /* set blue background */
        }

        .navbar .nav>li>a {
            color: #fff;
            /* set white text */
        }

        .navbar .nav>li>a:hover {
            color: lightblue;
        }

        @media (max-width:800px) {
            .imgs{
                width: 100% !important;
                height: 350px !important;
            }
            .nav-pill{
                width: 100% !important;
                font-size: large !important;
            }
            
        }